.portfolio-wrap {
  display: block;
  width: 100%;
  margin-bottom: 7em;
}
.portfolio-wrap .text {
  position: relative;
}
.portfolio-wrap .text .subheading {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 700;
}
.portfolio-wrap .text h2 {
  font-size: 80px;
  display: inline-block;
}
@media (max-width: 767.98px) {
  .portfolio-wrap .text h2 {
    font-size: 16vw;
  }
}
.portfolio-wrap .text h2 a {
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
}
.portfolio-wrap .text .top-relative h2 {
  font-size: 50px;
}
.portfolio-wrap .text .desc {
  position: relative;
  width: 100%;
}
@media (min-width: 1200px) {
  .portfolio-wrap .text .desc .top {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .portfolio-wrap .text .desc .top.top-relative {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .portfolio-wrap .text .desc .absolute {
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  .portfolio-wrap .text .desc .absolute.relative {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.portfolio-wrap .text .desc .custom-btn {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #b3b3b3;
  font-weight: 700;
}
.portfolio-wrap .text:hover {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio-wrap .text:hover .absolute {
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-wrap .text:hover .top {
  position: relative;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-entry {
  position: relative;
  margin-bottom: 7em;
}
.portfolio-entry .text-wrapper {
  width: 100%;
}
@media (max-width: 767.98px) {
  .portfolio-entry .text-wrapper {
    height: inherit;
  }
}
.portfolio-entry .one-half {
  width: 60%;
}
@media (max-width: 991.98px) {
  .portfolio-entry .one-half {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-entry .one-half.half-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
  .portfolio-entry .one-half.half-text .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 60%;
  }
  .portfolio-entry .one-half.half-text .text-2 {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 58%;
  }
}
@media (min-width: 1200px) {
  .portfolio-entry .one-half.half-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1140px;
    margin: 0 auto;
  }
  .portfolio-entry .one-half.half-text .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 58%;
  }
  .portfolio-entry .one-half.half-text .text-2 {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 58%;
  }
}
.portfolio-entry .one-half.half-text .subheading {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 700;
}
.portfolio-entry .one-half.half-text h2 {
  font-size: 80px;
  display: inline-block;
}
@media (max-width: 767.98px) {
  .portfolio-entry .one-half.half-text h2 {
    font-size: 16vw;
  }
}
.portfolio-entry .one-half.half-text h2 a {
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
}
.portfolio-entry .one-half.half-text .text .desc,
.portfolio-entry .one-half.half-text .text-2 .desc {
  position: relative;
  width: 100%;
}
@media (min-width: 1200px) {
  .portfolio-entry .one-half.half-text .text .desc .top,
  .portfolio-entry .one-half.half-text .text-2 .desc .top {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .portfolio-entry .one-half.half-text .text .desc .absolute,
  .portfolio-entry .one-half.half-text .text-2 .desc .absolute {
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
.portfolio-entry .one-half.half-text .text .desc .custom-btn,
.portfolio-entry .one-half.half-text .text-2 .desc .custom-btn {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #b3b3b3;
  font-weight: 700;
}
.portfolio-entry .one-half.half-text .text:hover,
.portfolio-entry .one-half.half-text .text-2:hover {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio-entry .one-half.half-text .text:hover .absolute,
.portfolio-entry .one-half.half-text .text-2:hover .absolute {
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-entry .one-half.half-text .text:hover .top,
.portfolio-entry .one-half.half-text .text-2:hover .top {
  position: relative;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
